#inputbox {
    padding:25px;
    margin:225px;
       
}

.rightbox{
    animation: opac 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes opac {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes opac {
    from {opacity: 0;}
    to {opacity: 1;}

}