/* Safari 4.0 - 8.0 */
@-webkit-keyframes opac {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes opac {
    from {opacity: 0;}
    to {opacity: 1;}

}

body{
    animation: opac 5s; 
}
.bandInfo{
    width: 18rem; 
    background: rgba(76, 72, 88, 0.5); 
    color: white; 
    font-family: 'Merriweather', serif;
    text-align: center;
}
#title{
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 25px; 
    margin-top: 20px;
    position: fixed;   
    background-color: black;
    padding: 0px; 
    width: 100%; 
}

#subtitle{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    padding: 0px; 

}

#font{
    font-family: 'Montserrat', sans-serif;

}
.instructions{  
    font-size: 18px;
    margin:  auto;
    width: 280px;
    text-align: center;
    color: darkgrey;
    font-weight: 1000;
    font-family: 'Montserrat', sans-serif;

}

/*Search expansion-- Credit: W3Schools */
input[type=text] {
    height:50px; 
    width: 280px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

input[type=email] {
    height:50px; 
    width: 280px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=email]:focus {
    width: 100%;
}

/*Background Video-- Credit:https://codepen.io/dudleystorey/pen/PZyMrd*/
      { box-sizing: border-box; }
      .video-background {
        background: #000;
        position: fixed;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -99;
      }
      .video-foreground,
      .video-background iframe {
        animation: opac 10s; 

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
      #vidtop-content {
          top: 0;
          color: #fff;
      }
      @media (min-aspect-ratio: 16/9) {
        .video-foreground { height: 300%; top: -100%; }
      }
      @media (max-aspect-ratio: 16/9) {
        .video-foreground { width: 300%; left: -100%; }
      }
      @media all and (max-width: 600px) {
      .vid-info { width: 50%; padding: .5rem; }
      .vid-info h1 { margin-bottom: .2rem; }
      }
      @media all and (max-width: 500px) {
      .vid-info .acronym { display: none; }
      }

#opacity{
    background-color: rgba(255,255,255,.5);

}






