#inputbox {
    padding:25px;
    margin:225px;
       
}

.rightbox{
    animation: opac 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes opac {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes opac {
    from {opacity: 0;}
    to {opacity: 1;}

}


/*Search expansion */
input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}